/* 
CSS Styling Here
*/

body{
    background-color:#f9e09f;
    padding: 0rem;
    margin: 0.5rem;
    box-sizing: border-box;
}

.ageCheck-title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #CBC3E3;
    margin-left: auto;
    margin-right: auto;
    max-width: 30rem;
    margin-top: 5rem;
    margin-bottom: 5rem;
    border-radius: 2rem;
    border: 1rem solid #3d0595;
    color: #98fb98;
    font-size: 2.5rem;
    text-shadow: 0.25rem 0rem 0rem #3d0595;
}

.age-container{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    max-width: 37.5rem;
    justify-content: center;
    align-items: center;
    background-color: #035956;
}

.question{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size:1.5rem;
    border: 0.5rem solid #DB4914;
    color: #98fb98;
    background-color: #fdb14d;
    text-shadow: 0.25rem 0rem 0rem #3d0595;
}

.birth-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    float: left;
    width: 10rem;
    padding: 0.313rem 1.25rem;
}
.title{
    font-size: 1.25rem;
    color: #fdb14d;
}

input[type=text]{
    width: 8.75rem;
    margin: auto;
    outline: none;
    min-height: 3.125rem;
    border: 0.125rem solid #b25b6e;
    color: #7c3042;
    background-color: #ffd1dc;
    border-radius: 0.125rem;
    font-size: 1.063rem;
    padding: 0.20rem;
}

input[type=text]:focus{
   background-color: #98fb98;
   color: #3d0595;
   border: 0.125rem solid #3d0595;
}

.btn{
    margin-top: 8rem;
}

.submit-age{
    display: flex;
    width: 9.375rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1.25rem;
    justify-content: center;
    outline: none;
    color: #3d0595;
    background-color: #98fb98;
    border: 0.5rem solid #CBC3E3;
    border-radius: 1.15rem;
    padding: 0.875rem 1rem;
    font-size: 1.063rem;
}

.age-message{
    padding-bottom: 1.25rem;
    margin-top: 2.188rem;
}